button > a:link {
    color: white;
    text-decoration: none;
}
button > a:visited {
    color: white;
    text-decoration: none;
}
button > a:hover {
    color: white;
    text-decoration: none;
}
button > a:active {
    color: white;
    text-decoration: none;
}