h1 > a:link {
    text-decoration: none;
}
h1 > a:visited {
    text-decoration: none;
}
h1 > a:hover {
    text-decoration: none;
}
h1 > a:active {
    text-decoration: none;
}

button > a:link {
    color: white;
    text-decoration: none;
}
button > a:visited {
    color: white;
    text-decoration: none;
}
button > a:hover {
    color: white;
    text-decoration: none;
}
button > a:active {
    color: white;
    text-decoration: none;
}